# ROS build files; can be safely ignored
build/
install/
log/

# VSCode artefact; no idea what this is doing
.vscode/

# cache and dependent repos
src/canon/canon/__pycache__/
src/global_racetrajectory_optimization/
src/python_robotics/